* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #fff;
  --button-highlight: #fff;
  --button-highlight-reverse: #1d8ff2;
  --button-highlight-animation: #1d8ff2;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --highlight-color: rgba(255, 255, 255, 0.2);

  --switch-bg-url: url("../assets/svg/moon.svg");
  --bg: #0d0d0d;
}

.light {
  --light: #0d0d0d;
  --button-highlight: #1d8ff2;
  --button-highlight-reverse: #FFF;
  --button-highlight-animation: #d2e8f5;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  
  --switch-bg-url: url("../assets/svg/sun.svg");
  --bg: #fff;
}

body * {
  font-family: "Poppins", sans-serif;
  color: var(--light);
}

body {
  position: relative;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  background: var(--bg);
}

#circle {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #97d3f6;

  clip-path: circle(50% at bottom right);

  z-index: -1;
}

#container {
  width: 100%;
  max-width: 588px;
  flex: 1;

  margin: 56px auto 0px;
  padding: 0 24px;
}

/* Header */
#profile {
  text-align: center;

  padding: 24px;
}

#profile img {
  border-radius: 50%;

  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;

  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;

  margin: 32px auto 0;
}

#switch button {
  width: 32px;
  height: 32px;

  background: var(--button-highlight) var(--switch-bg-url) no-repeat center;

  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  transform: translateY(-50%);
  animation: slide-out 0.4s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch span {
  display: block;

  width: 64px;
  height: 24px;

  background: var(--surface-color);

  border-radius: 9999px;
  border: 1px solid var(--button-highlight);
}

/* Content information's */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 24px 0;
}

ul li a {
  position: relative;

  display: flex;
  justify-content: center;

  font-weight: 500;

  padding: 16px 24px;

  border: 1px solid var(--button-highlight);
  color: var(--button-highlight);

  border-radius: 8px;

  text-decoration: none;
  transition: filter 0.2s ease-in-out;
}

ul li a::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: var(--button-highlight-animation);

  z-index: -1;

  transition: transform 0.7s;
  transform-origin: 0 0;
  transition-timing-function:  cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

ul li a:hover::before {
  transform: scaleX(1);
}

/* Footer */
footer {
  font-size: 0.875rem;
  font-weight: 500;

  padding: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  color: #111;
}

#social-icons {
  display: flex;
  gap: 16px;

  font-size: 24px;
}

#social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px;

  border-radius: 50%;

  transition: background 0.2s;
}

#social-icons .icon {
  color: var(--light);
}

#social-icons a:hover {
  background: var(--highlight-color);
}

/* Medias for responsive */
@media (min-width: 480px) {
  .isMobile {
    display: none;
  }

  footer {
    flex-direction: row;
  }

  body {
    height: 100vh;
  }
}

/* Animations */
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
